# git-config man page: https://www.kernel.org/pub/software/scm/git/docs/git-config.html

[user]
	name = Rafael Arquero
	email = rafael@arquero.cat

[core]
	excludesfile = ~/.gitignore_global
	compression = 9
	# Prevent line ending issues--change to 'true' on Windows
	autocrlf = input

[alias]
	yolo = !sh -c 'git commit -am "DEAL WITH IT" && git push -f origin master'

[hub]
	protocol = ssh # Github uses https by default
